#register_title{
    display: flex;
}

#title_create_register{
    font-size: 1.5rem;
    margin: 5px 0px 0px 15px;
    color: var(--color-text);
}

#text_register{
    width: 80%;
    margin: 10px 0px 30px 0px;
}

#text_register::first-letter{
    margin-left: 10px;
}

#login_client{
    display: flex; 
    align-items: center;
    column-gap: 20px;
    font-size: 1.5rem;
}

.btn_submit{
    width: 80%;
    height: 42px;
    margin-top: 30px;
    cursor: pointer;
    background-color: var(--color-purple);
    border: 0px;
    color: white;
    border-radius: 5px;
}

#form_create_register{
    padding-top: 30px;
}

.form_genre > div{
    display: flex;
    column-gap: 20px;
    margin-top: 10px;
}

#div_data > div{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.input_data {
    background-color: #e6efff;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0px 10px 0px 10px;
    height: 45px;
    font-size: 18px;
    width: 270px;
}

.span{
    font-size: 0.875rem;
    color: #999999;
}

#divisor{
    width: 80%;
    margin: 30px auto;
    text-align: center;
    background-image: linear-gradient(
        180deg,transparent 10px,#e3e3e3 0,#e3e3e3 12px,transparent 0);
}

.div_checkbox{
    margin-top: 10px;
    font-size: 0.9rem;
    color: #999999;
}

#divisor> span{
    padding: 0 10px;
    background-color: white;
}

#no_register_forgot_password > p{
    margin: 30px 0px 30px 0px;
    color: var(--color-text);
    text-align: center;
    cursor: pointer;
}

#no_register > a,
#registered > a{
    text-decoration: underline;
}

#cpf,
#phone{
    width: 130px;
}

#registered{
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
}

[data-anime]{
    opacity: 0;
    transition: .5s;
}

[data-anime="left"]{
 transform: translate3d(-100px, 0, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.display_none{
    display: none !important;
}


