footer{
    width: 100%;
    min-height: 380px;
    background-color: var(--color-purple);
    padding-top: 50px;
    margin-top: 100px;
}

footer hr{
    max-width: 1300px;
    width: 80vw;
    height: 3px;
    background-color: white;
    border: 0px;
    margin: auto;
}

#div_msg {
    color: white;
}

#div_msg > p{
    font-size: 1rem;
    line-height: 22px;
    max-width: 260px;
    margin-top: 30px;
}

#text_footer{
    max-width: 1300px;
    width: 80vw;
    margin: 15px auto 0px auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr ;
    column-gap: 30px;
}

#img_footer{
    display: flex;
    font-weight: 900;
}

#img_footer p{
   margin: 10px 0px 0px 20px;
}

.links_footer{
    margin-top: 40px;
    margin-bottom: 90px;
    line-height: 30px;
}

.links_footer h1 {
    color: var(--color-text-white);
    font-weight: 400;
    font-size: 1.1rem;
    padding-left: 10px;
    padding-bottom: 6px;
    margin-bottom: 20px;
    border-left: 3px solid #eeeeee;
}
 
.links_footer a{
    color: white;
}
 
.links_footer a:hover{
    transition: .5s all ease;
    margin-left:5px;
    padding: 3px 0;
    font-size: 1.1rem;

}

#social_networks{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    height: 80px;
}

#social_networks > img:hover{
    zoom: 1.2;
    transition: all 3s;
}

#copyright{
    height: 80px;
    width: 100%;
    font-size: 1.2rem;
    padding: 27px 0px 27px 0px;
    background-color: white;
}

#copyright > div{
    max-width: 1100px;
    margin: auto;
}

@media (max-width: 1000px) {
    #text_footer{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-bottom: 30px;
    }

}

@media (max-width: 700px) {
    .links_footer{
        margin-bottom: 0px;
    }
    
    #copyright p{
        text-align: center;
    }
}
