#presentation {
    max-width: 1300px;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));

}

#imgPresentation>img {
    display: block;
    margin: auto;
    max-width: 600px;
    width: 100vw;
}

#presentationText {
    max-width: 410px;
    width: 80vw;
    margin: 120px 0px 0px 70px;
}

#presentationText>h1 {
    font-size: 2.25rem;
    margin-bottom: 30px;
}

#presentationText>p {
    font-size: 1rem;
    margin-bottom: 30px;
    line-height: 30px;
    color: var(--color-text);
}

#presentationText>p::first-letter {
    margin-left: 10px;
}

#presentationText > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    height: 55px;
    background-color: var(--color-purple);
    font-weight: 900;
    font-size: 1rem;
    color: var(--color-text-white);
    border-radius: 5px;
}


@media (max-width: 1000px) {
    #presentation {
        grid-template-areas: "text" "image";
    }
    #presentationText {
        max-width: 90vw;
        grid-area: text;
        margin: 45px 15px 30px 15px;
        text-align: center;
    }

    #presentationText > a {
        margin: auto;
    }
    #imgPresentation {
        grid-area: image;
    }
}
