.carousel_container {
  width: 1280px;
  max-width: 90vw;
  margin: 50px auto;
  min-height: 200px;
  position: relative;
}

.carousel_container .carousel_inner {
  overflow: hidden;
}

.carousel_container .track {
  display: inline-flex;
  transition: transform 0.5s;
  column-gap: 30px;
}

.card_container {
  margin: 1px;
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 50%);
}

.carousel_container .card_container {
  width: 255px;
  flex-shrink: 0;
  height: 370px;
  background-color: white;
}

.carousel_container .card_container .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95%;
}

.nav button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #aaa;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.nav .prev {
  left: -30px;
  display: none;
}

.nav .prev.show {
  display: block;
}

.nav .next {
  right: -30px;
}

.nav .next.hide {
  display: none;
}

.card .img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.img img {
  max-width: 124px;
  max-height: 190px;
  margin-top: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 20px 32px 0px 32px;
  height: 200px;
  
}

.old_price {
  text-decoration: line-through;
  font-size: 0.75rem;
}

.price {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 35px;
  color: #241400;
}

.booksTitle {
  font-size: 0.75rem;
  color: #241400;
  font-weight: bold;
}

.author {
  font-size: 0.75rem;
  font-weight: 400;
}

.footerCard {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  cursor: pointer;
}

.footerCard> a  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  background-color: #6C63FF;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 3px;
  font-size: 0.75rem;
  margin-top: 5px;
  color: var(--color-text-white);
}

.footerCard > a:hover{
  background-color: white;
  border: 1px solid #6C63FF;
  color: var(--color-text);
}

#slider_multiple_items1>h1 {
  text-align: center;
}

@media (max-width: 1024px) {
  .carousel_container {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .carousel_container {
    width: 82%;
  }
  .carousel_container .card_container {
    width: 200px;
  }
  .carousel_container .track {
    column-gap: 10px;
  }
}

@media (max-width: 400px) {
  .carousel_container .card_container {
    width: 220px;
  }
}